<!DOCTYPE html>
<html lang="en">

<head>
    <title>Budgeting | FinLit</title>
    <meta charset="utf-8">
    <meta name="description" content="Learn about budgeting!">
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lessons/lessons.css') }}">
</head>

<body>
    <header>
        <h1 class="title-finlit">FinLit</h1>
    </header>
    <main>
        <article>
            <h4>Compound Interest</h4>
            <p>A core principal of finance is this: <i>Provided money can earn interest, any amount of money is worth more
            the sooner it is received.</i> This is also knows as the time value of money, and incredibly important to 
            understand.
            </p>

            <h2>Compounding</h2>
            <p>Say you put $100 in a savings account that earned you 4% interest per year. By the end of the year, you would 
                be left with $104 (+$4). Leave it there another year and you would earn 4% on top of the $104, giving you 
                $108.16 (+$4.16). This idea of earning interest on top of interest is called compounding.
                <br><br>
                Basically, the longer you leave the $100, the higher your interest will get.
            </p>

            <h2>Everyday applications</h2>
            <p>Saving a $100/month into a savings account with interest: Instead of making a lump sum investment $100 
                at the end of each month, you can split it into two investments of $50 in week 2 and week 4. This is because 
                the first investment in week 2 will earn interest up until week 4, and after you make your second investment, 
                you will end up with slighly more than $100. Cool huh?!
            </p>
        </article>
    </main>
</body>
</html>