<!DOCTYPE html>
<html lang="en">

<head>
    <title>Saving | FinLit</title>
    <meta charset="utf-8">
    <meta name="description" content="Learn about saving!">
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lessons/lessons.css') }}">
</head>

<body>
    <header>
        <h1 class="title-finlit">FinLit</h1>
    </header>
    <main>
        <article>
            <h4>Credit Cards</h4>
            <p>You may think you can only spend as much as you have, but that is not necessarily true. Credit cards allow you to spend more than you 
                currently have, provided you can pay it back later.
            </p>
            <h2>What are they?</h2>
            <p>Credit cards are cards issued by financial institutions (banks) and certain retailers. They allow you to purchase goods now and pay later.</p>

            <h2>What's happening?</h2>
            <p>When you use a credit card, the funds come from directly from the issuer, not your own personal money. When you make a purchase, the amount
                you owe is the credit card's balance. At the end of the month, you will receive a bill with your outstanding balance, and options on how 
                to pay it back.
            </p>

            <h2>Paying it back</h2>
            <p>It's always recommended that you pay off your credit card bill in full at the end of each month. It will impact your credit score positively, 
                helping you out in the future when you want to make bigger purchases and need loans. You also avoid paying the interest that begins to accrue
                when you have an outstanding balance.
            </p>

            <h2>Features of a credit card</h2>
            <p>There are many different types of credit cards with different features. They often come with rewards, different fees, and it's important
                to find one that suits your needs. Here is a list of features to watch out for:

                <table>
                    <tr>
                        <td>No annual fee</td>
                        <td>No fee at the end of each year for keeping the card</td>
                    </tr>
                    <tr>
                        <td>Low APR</td>
                        <td>You should always aim to pay off your credit card in full, but this helps if you may have to carry a balance</td>
                    </tr>
                    <tr>
                        <td>Cash back rewards program</td>
                        <td>You can stand to earn some money back on purchases</td>
                    </tr>
                </table>
            </p>

        </article>
        <hr>
        
        <h2>Games</h2>
        <section class="games-container">
            <a href="{{ url_for('lessons.compound_interest') }}">
                <div class="card">
                    <div class="card__header">
                        <img src="The Bill">
                    </div>
                    <div class="card__body">
                        <h4>The Bill</h4>
                        <p>Look at what happens to your credit card bill depending on how you pay!</p>
                    </div>
                    <div class="card__footer">
                        <span>Estimated time: 3hrs | Games to play: 2</span>
                    </div>
                </div>
            </a>
        </section>
    </main>
</body>
</html>