<!DOCTYPE html>
<html lang="en">

<head>
    <title>Saving | FinLit</title>
    <meta charset="utf-8">
    <meta name="description" content="Learn about saving!">
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lessons/lessons.css') }}">
</head>

<body>
    <header>
        <h1 class="title-finlit">FinLit</h1>
    </header>
    <main>
        <article>
            <h4>Mortgage</h4>
            <p>Chances are that a young person is reading this article, which means you won't have to worry about a 
                mortgage for a while, but it's always good to be aware.
            </p>

            <h2>What is it?</h2>
            <p>A mortgage is a loan, and it is acquired when you want to buy a house. Unless you can pay for a house in 
                full by yourself, which the majority of us will not, you will need to borrow money to buy a house, which 
                is where a mortgage comes in.
            </p>
        </article>
    </main>
</body>

</html>