<!DOCTYPE html>
<html lang="en">
<head>
    <title>Saving | FinLit</title>
    <meta charset="utf-8">
    <meta name="description" content="Learn about saving!">
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lessons/lessons.css') }}">
</head>

<body>
    <header>
        <h1 class="title-finlit">FinLit</h1>
    </header>
    <main>
        <article>
            <h4>Saving</h4>
            <p>For most of us we're going to need to make some sacrifices to reach our financial goals, and that is where saving comes in. Responsibly saving your money is an important step to becoming financially healthy.</p>

            <h4>Different ways to save more money</h4>
            <p>There are tons of ways that you might be able to save money in your daily life, here are some suggestions.</p>
            <table class="ways-to-save">
                <tr>
                    <td>Cancel unused subscription services</td>
                </tr>
                <tr>
                    <td><s>Purchasing rarely used item</s> &#8594; Borrow it from a friend or neighbor</td>
                </tr>
                <tr>
                    <td>Live with a roomate</td>
                </tr>
                <tr>
                    <td>Skip the expensive Starbucks</td>
                </tr>
            </table>

            <p>The savings you make can go towards a goal, investing, your emergency fund and more...</p>

            <h4>Emergency Fund</h4>
            <h2>What is it?</h2>
            <p>An extremely important thing to get started on when you begin on your financial journey is to set up an emergency fund! An emergency fund is money that you have set aside that can cover your living expenses for 3-6 months.</p>

            <h2>Why?</h2>
            <p>Life can hit you with unexpected events, and you might find yourself out of a job, or paying for a big unexpected cost like home repairs or medical bills. It is vitally important that you are prepared for such situations, and having an emergency fund gives you the peace of mind that you have it covered.</p>

            <h2>How?</h2>
            <p>This is where budgeting comes in useful, and you can use your budget to determine how much money you're going to need for your emergency fund. It should cover 3-6 months of expenses. You should allocate some of your savings at the end of each month to your emergency fund, so it will take several months to complete it.</p>
        </article>
    </main>
</body>

</html>