<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="The site for youth to expand their financial knowledge!">
    <title>Dashboard - FinLit</title>
    <link href="{{ url_for('static', filename='normalize.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/dashboard.css') }}" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="title-finlit">FinLit</h1>
    </header>
    <main>
        <!-- Introduction lessons -->
        <section>
            <header class="section-header">Introduction</header>
            <main class="cards-container">
                <a href="{{ url_for('lessons.budgeting') }}">
                    <div class="card">
                        <div class="card__header">
                            <img src="{{ url_for('static', filename='dashboard/budgeting_card_image.webp') }}" alt="A calculator with the word 'budget' printed on its display, surrounded by cash and coins">
                        </div>
                        <div class="card__body">
                            <h4>Budgeting</h4>
                            <p>Learn about the value of budgeting and how it can help you take control of your finances.</p>
                        </div>
                        <div class="card__footer">
                            <span>Estimated time: 3hrs | Games to play: 2</span>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('lessons.saving') }}">
                    <div class="card">
                        <div class="card__header">
                            <img src="{{ url_for('static', filename='dashboard/saving_card_image.jpeg') }}" alt="Fish bowl with coins and cash inside, labeled with a sticky note that says 'Savings'">
                        </div>
                        <div class="card__body">
                            <h4>Saving</h4>
                            <p>Learn about the importance of saving for the future.</p>
                        </div>
                        <div class="card__footer">
                            <span>Estimated time: 3hrs | Games to play: 2</span>
                        </div>
                    </div>
                </a>
            </main>
        </section>

        <!-- Debt lessons -->
        <section>
            <header class="section-header">Debt</header>
            <main class="cards-container">
                <a href="{{ url_for('lessons.debt') }}">
                    <div class="card">
                        <div class="card__header">
                            <img src="{{ url_for('static', filename='dashboard/debt_card_image.jpg') }}"
                                alt="The word debt attached with a locked chain">
                        </div>
                        <div class="card__body">
                            <h4>Debt</h4>
                            <p>Learn about where debt comes from and how to responsibly manage it.</p>
                        </div>
                        <div class="card__footer">
                            <span>Estimated time: 3hrs | Games to play: 2</span>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('lessons.credit_cards') }}">
                    <div class="card">
                        <div class="card__header">
                            <img src="{{ url_for('static', filename='dashboard/credit_card_card_image.jpg') }}"
                                alt="A small pile of credit cards.">
                        </div>
                        <div class="card__body">
                            <h4>Credit Cards</h4>
                            <p>Learn how a credit card works and how to use one responsibly.</p>
                        </div>
                        <div class="card__footer">
                            <span>Estimated time: 3hrs | Games to play: 2</span>
                        </div>
                    </div>
                </a>
            </main>
        </section>
    </main>

    <!-- Investing lessons -->
    <section>
        <header class="section-header">Investing</header>
        <main class="cards-container">
            <a href="{{ url_for('lessons.compound_interest') }}">
                <div class="card">
                    <div class="card__header">
                        <img src="{{ url_for('static', filename='dashboard/compound_interest_card_image.jpg') }}"
                            alt="A small pile of credit cards.">
                    </div>
                    <div class="card__body">
                        <h4>Compound Interest</h4>
                        <p>Learn about the time value of money and how you can use compound interest to your advantage!</p>
                    </div>
                    <div class="card__footer">
                        <span>Estimated time: 3hrs | Games to play: 2</span>
                    </div>
                </div>
            </a>
        </main>
    </section>

    <section class="newsletter-btn-container">
        <button class="newsletter-btn">Sign up for the FinLit newsletter!</button>
    </section>
</body>
</html>