<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="The site for youth to expand their financial knowledge!">
    <title>Dashboard - FinLit</title>
    <link href="{{ url_for('static', filename='normalize.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/dashboard.css') }}" rel="stylesheet">
</head>
<body>
    <header><span>Header</span></header>
    <main>
        <span>Main content</span>
    </main>
</body>
</html>